
  @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab&display=swap');
  :root{
    --nice_dark_grey: #262626;
    --not_quite_white: #d5d5d5;
    --text_fam: 'Courier Prime', monospace;
    --title_text_fam: 'Roboto Mono', monospace;
  }

  body, li{
    font-family: var(--text_fam);
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
    margin : 0%;
    background : var(--nice_dark_grey);
   
  }

  a {
    color: orange;
  }
  
  #logo {
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: left;

  }
  #logo h1{
    font-family : var(--title_text_fam);
    color : var(--not_quite_white);
  }

  #logo img{
    width: 4em;
    height: 4em;
  }

  nav {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: start;
  }
  nav ul{
    padding: 0;
    margin: 0;
  }
  nav li {
    float: left;
    list-style-type: none;
    padding-right: 1em;
  }

  nav li a {
    display: block;
    text-decoration: none;
    color : var(--not_quite_white);
    font-family: var(--title_text_fam);
  }

  nav li a:hover {
    color : grey;
    text-shadow: none;
  }

 

  .content{
    display: flex;
    flex-direction: column;
    color: var(--not_quite_white);
    max-width: 50em;
    gap: 3em;
  }
  .content h2{
    margin:0%;
    color: var(--not_quite_white);
    text-decoration: overline;
    text-align: center;
    padding: 0px;
  }
  .content h6{
    margin: 0%;
    color: grey;
    text-align: center;
  }

  .content p{
    margin: 0%;
    font-size: 1.3em;
    color: var(--not_quite_white);
    word-wrap: break-word;
    text-align: justify;
    border: #262626;

  }


  .content li{
    list-style-type: none;
  }
 
  .content .content-image{
   align-self: center; 
  }

  .content .contenttitle{
    display: flex;
    flex-direction: column;
  }
  .content .subcontent{
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .content ul{
    padding: 0;
    margin: 0;

  }

  .fade-in {
    animation : fadeIn 5s;
  }

  .fade-in--fast{
    animation: fadeIn 0.2s;
  }
  
  @keyframes fadeIn {
    0%{ opacity: 0;}
    100%{ opacity: 1;} 
  }

  @media (max-width:600px){
    :root{
      font-size: 3.5vw;
    }

    body{
      gap : 1em
    }
    nav{
      align-items: center;
    }

    nav li{
      padding: 1em 1em
    }
    .content{
      width: 90%;
    }

    .content .content-image{
      width: 90%;
    }

    .content li{
      list-style-type: none;
    }
  }