  :root{
    --nice_dark_grey: #262626;
    --not_quite_white: #d5d5d5;
    --text_fam: 'Courier New', monospace;
    --title_text_fam: 'Monaco', monospace;
  }

  body {
    background : var(--nice_dark_grey);
  }

  a {
    color: orange;
  }
  
  #logo {
    height: 71px;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: left;

  }
  #logo h1{
    font-family : var(--title_text_fam);
    color : var(--not_quite_white);
    margin-bottom: 0%;
  }

  #logo img{
    width: 75px;
    height: 75px;
  }

  @media (max-width: 1100px){
    
    #logo {
      margin: 0%;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      padding-top: 50px;
      padding-bottom: 30px;
    }

    #logo h1{
      display: none;
    }
  }


  .nav-bar{
    margin-left: 5%;
    height: 1em;
    float: none;
  }

  @media (max-width: 1100px) {
    
    .nav-bar {
      margin: 0%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  nav ul{
    padding-top: 0%;
    padding: 0%;
  }

  nav li {
    float: left;
    list-style-type: none;
    padding-right: 10px;
  }

  @media (max-width: 1100px){
    nav li {
    padding-left: 10px;
    padding-right: 10px;
    }
  }

  nav li a {
    display: block;
    text-decoration: none;
    color : var(--not_quite_white);
    font-family: var(--title_text_fam);
  }

  nav li a:hover {
    color : grey;
    text-shadow: none;
  }

 

  .content{
    color: var(--not_quite_white);
    margin-left: 20%;
    margin-right: 20%;
    padding: 0px;
  }
  .content h2{
    color: var(--not_quite_white);
    text-decoration: overline;
    text-align: center;
    margin-top: 30px;
    padding: 0px;
  }
  .content h6{
    color: grey;
    text-align: center;
  }

  .content p{
    font-size: 1.3em;
    color: var(--not_quite_white);
    font-family: var(--text_fam);
    word-wrap: break-word;
    text-align: justify;
    border: #262626;
  }

  .content img{
    width: 100%;
    height: 100%;
  }

  @media (max-width: 1100px){
    
    .content {
      margin-left: 9%;
      margin-right: 9%;
    }
  }

  .fade-in {
    animation : fadeIn 5s;
  }

  .fade-in--fast{
    animation: fadeIn 0.2s;
  }
  
  @keyframes fadeIn {
    0%{ opacity: 0;}
    100%{ opacity: 1;} 
  }