 :root{
  --nice_dark_grey: #262626;
  --not_quite_white: #fffbf0;
  --text_fam: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --title_text_fam: 'Monaco', monospace;
 }
 
 body,html {
    background-color : var(--nice_dark_grey);
  }

  .nav-frame {
    width: 100%;
    border: none;
  }

  .nav-bar{
    margin-left: 10%;
    float: none;
  }

  nav u {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }

  nav ul{
    padding: 0%;
  }

  nav li {
    float: left;
    list-style-type: none;
    padding-right: 10px;
  }

  @media (max-width: 1100px){
    nav li {
      float: left;
      list-style-type: none;
      padding-right: 30px;
    }
  }

  nav li a {
    display: block;
    text-decoration: none;
    color : var(--not_quite_white);
    text-shadow: 0px 0px 10px grey;
    font-family: var(--title_text_fam);
  }

  nav li a:hover {
    color : grey;
    text-shadow: none;
  }

 .page-title {
    font-family : var(--title_text_fam);
    color : var(--not_quite_white);
    text-shadow: 0px 0px 15px grey;
  }

  .content{
    color: var(--not_quite_white);
    margin: 0px;
    padding: 0px;
  }
  .content h2{
    color: var(--not_quite_white);
    text-decoration: overline;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }
  .content h6{
    color: grey;
    text-align: center;
  }

  .content p{
    font-size: 1.3em;
    color: var(--not_quite_white);
    font-family: var(--text_fam);
    margin-left: 30%;
    margin-right: 30%;
    word-wrap: break-word;
    text-align: justify;
    border: #262626;
  }

  .content img{
    margin: auto;
    display: block;
    width: 40%
  }

  @media (max-width: 1100px){
    
    .content {
      margin-left: 10%;
      margin-right: 10%;
    }
    .content p{
      margin-left: auto;
      margin-right: auto;
    }

    .content img{
      margin: 0%;
      display: block;
      width: 100%
    }
  }
  
  