
p, h1, h2, h2, h3, h4, h5, h6 {
    font-family: "JetBrains Mono", monospace;
    color: white;
    font-size: 1.5em;
}

body{
    background: #202020;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#strawberry {
    max-height: 9em;
    animation-name: header_top;
    animation-delay: 1s;
    animation-duration: .5s;
    animation-fill-mode: backwards;
}

#header-name{
    position: relative;
    margin-top: -3em;
    display: grid;
    grid-template-columns: []2em []8em []7em []10em;
    animation-name: header_bottom;
    animation-fill-mode: backwards;
    animation-duration: 1s;
}

#header-name img{
    align-self: end;
    max-width:8em;
}
#header-name img.initials{
    max-height: 13em;
}
#header-name #initial-m{
    max-height: 7em;
}

.content{
    display: flex;
    flex-direction: column;
    animation-name: content;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    align-items: center;
}

.content-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
}

.content-section .content-section-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 50em;
}

.content-section .content-section-content{
    display: flex;
    justify-content: center;
    max-width: 70%;


}
.content-section-title .title{
    width: 20%
}

.content-section-title .line{
    width: 100%;
}

#bio{
    flex-direction: row;
    align-items: center;
}

#bio img{
    width: 30em;
    height: 20em;
}

.proj-title{
    text-decoration: underline white;
    margin-bottom: 1em;
    padding-left: 4em;
    padding-right: 4em;
}
.proj-title.prev{
    text-align: end;
}

#projects{
    flex-direction: column;
}
.project{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4em;
}

.project .thumb-nail{
    flex-direction: column;
    padding-right: 10em;
}
.project .title{
    justify-self: center;
    text-align: center;
}

.project .info{
    text-wrap: nowrap;
    font-style: italic;
}

.project .image{
    display: flex;
    width: 20em;
    height: 15em;
    background: white;
    border-radius: 10%;
}

.project .image img{
    object-fit: cover;
    width: 100%;
    border-radius: inherit;
}

.project .desc{
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: start;
}

.project.prev{
    flex-direction: row-reverse;
}

.project.prev .thumb-nail{
    padding: 0;
}

.project.prev .info-section{
    padding-right: 4em;
}

@keyframes header_bottom {
    from{bottom: 10em; opacity: 0}
    to{bottom: 0; opacity: 1}
}
@keyframes content {
    from{opacity: 0; padding-top: 3em}
    to{opacity: 1; padding-top: 0}
}

@media screen and (max-width: 1125px){

   .margin-wrapper{
       width: 50%;
   }
    #bio{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .content-section-title .title{
        width : 50%
    }

    .project{
        display: flex;
        flex-direction: column;
    }

    .project .info{
        margin: 0;
    }

    .project .desc{
        text-wrap: stable;
        text-align: center;
    }
}